div{
    background-color: blueviolet;
    color: aliceblue;
}
.nav{
    background-color: aqua;
    color: black;

}
.elem{
    display: inline-block;
    background-color: blueviolet;

}
.component{
    width: 50%;
    display: inline-block;
    margin: 0;
}