@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=News+Cycle:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    background-color: rgb(226, 217, 43);
    color: rgb(25, 27, 29);
    padding: 10px;
    box-sizing: border-box;
} 
h1{
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    font-size: 22px;
}
p{
    font-family: "News Cycle", sans-serif;
}
.nav{
    background-color: aqua;
    color: black;
    height: 80px;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
}
.content{
    display: flex;
    flex-direction: row;
}
.component{
    width: 50%;
}
.elem{
    display: inline-block;
    background-color: blueviolet;
    color: aliceblue;
    padding: 5px 10px;
    font-weight: bold;
}
